<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><%= process.env.HTML_TITLE %></title>
    </head>
    <body>
        <div id="root"></div>
        <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>
