@import 'bootstrap/scss/bootstrap.scss';

body
{
    width: 100vw;
    height: 100vh;
}

#root
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: skyblue;
}
